// colores
$white: #FFF;
$platinum: #E8E8E8;
$lightgray: #D1D1D1;


$fuzzywuzzy: #E56353;
$ruddpink: #D76C69;
$Spanishpink: #ECBCBA;


$EERIEBLACK: #121619;
$Raisinblack: #222323;
$nickel: #6C6E70;

// tipografia
$playfair:'Playfair Display', 'serif';
$roboto:'Roboto','sans-serif';

// peso de fuentes
$elight: '300';
$regular: '400';
$blackitalic: '900';

// tamaños de fuente

$xx-large: 100px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;